/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600&display=swap');

/* variables */
:root {
  --clr-background: #fef6e4;
  --clr-headline: #001858;
  --clr-paragraph: #172c66;
  --clr-button-text: #001858;
  --clr-button: #f582ae;
  --clr-input-color: #fef6e4;
}

/* global styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: var(--clr-background);
  color: var(--clr-headline);
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
}

/* loading animation */
.lds-ring {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
  top: calc(80vh / 2);
  left: calc(100vw / 2);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 64px;
  height: 64px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #fff transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* search form container */
.search-form-container {
  height: 20vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.search-form {
  width: 600px;
  height: 70px;
  padding: 10px;
  background-color: var(--clr-paragraph);
  border-radius: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.form-icon {
  margin-right: 10px;
  font-size: 50px;
  color: var(--clr-input-color);
}

.form-input {
  width: 540px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 30px;
  background-color: transparent;
  color: var(--clr-input-color);
}

.form-input::placeholder {
  color: var(--clr-input-color);
}

.news-container {
  height: 80vh;
  padding: 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(4, 1fr);
  grid-gap: 10px;
}
