/* importing fonts */
@import url('https://fonts.googleapis.com/css2?family=Karla:wght@400;600&display=swap');

/* variables */
:root {
  --clr-background: #232946;
  --clr-headline: #fffffe;
  --clr-paragraph: #b8c1ec;
  --clr-button-text: #232946;
  --clr-button: #eebbc3;
}

/* global styles */
*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: var(--clr-background);
  color: var(--clr-headline);
  overflow: hidden;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  text-transform: capitalize;
}

/* main container */
.container {
  width: 100vw;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.2fr 1fr;
}

/* search form container */
.search-form-container {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.form-input {
  width: 450px;
  height: 50px;
  border: none;
  outline: none;
  font-size: 30px;
  background-color: #b8c1ec;
  border-radius: 10px;
}

.form-input::placeholder {
  color: var(--clr-headline);
}

.news-container {
  height: 80vh;
}
